html, body {
    height: 100%;
}

html{
    margin: auto;
}

body {
    background-image: url(./images/TriviaBackground.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    color: rgb(207, 61, 200);
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(98, 199, 227),
    0 0 72px rgb(98, 199, 227),
    0 0 124px rgb(98, 199, 227),
    0 0 150px rgb(98, 199, 227),
    0 0 200px rgb(98, 199, 227);
    margin-top: auto;
    opacity: 0.8;
}

.intro {
    font-size: xx-large;
    max-width: 1000px;
    text-align: center ;
    opacity: 0.9;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 96px;
}

img {
    display: none;
    height: 350px;
    box-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(98, 199, 227),
    0 0 82px rgb(98, 199, 227),
    0 0 92px rgb(98, 199, 227),
    0 0 102px rgb(98, 199, 227),
    0 0 151px rgb(98, 199, 227);
    opacity: 0.9;
}

button {
    box-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 25px rgb(98, 199, 227),
    0 0 30px rgb(98, 199, 227),
    0 0 40px rgb(98, 199, 227),
    0 0 50px rgb(98, 199, 227),
    0 0 60px rgb(98, 199, 227);
}

.startButton {
    font-size: 60px;
    width: 20rem;
    height: 5rem;
    background-color: rgb(79, 91, 89);
    border-radius: 15%;
    color: rgb(207, 61, 200);
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(98, 199, 227),
    0 0 82px rgb(98, 199, 227),
    0 0 92px rgb(98, 199, 227),
    0 0 102px rgb(98, 199, 227),
    0 0 151px rgb(98, 199, 227);
    text-align: center;
    opacity: 0.9;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

.questionsContainer {
    display: none;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    border: 5px;
    border-color: black;
    opacity: 0.9;
    
}

.choicesContainer {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 700px;
}

.choicesButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    padding: 7%;
    margin: 7%;
    font-size: 36px;
    background-color: rgb(79, 91, 89);
    border-radius: 15%;
    color: rgb(207, 61, 200);
    text-align: center;
    opacity: 0.9 ;
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(98, 199, 227),
    0 0 82px rgb(98, 199, 227),
    0 0 92px rgb(98, 199, 227),
    0 0 102px rgb(98, 199, 227),
    0 0 151px rgb(98, 199, 227);
}

.choicesButton:hover {
    background-color: rgb(140, 118, 236);
}

.restartButton {
    display: none;
    font-size: 60px;
    width: 20rem;
    height: 5rem;
    background-color: rgb(79, 91, 89);
    border-radius: 15%;
    color: rgb(207, 61, 200);
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(98, 199, 227),
    0 0 82px rgb(98, 199, 227),
    0 0 92px rgb(98, 199, 227),
    0 0 102px rgb(98, 199, 227),
    0 0 151px rgb(98, 199, 227);
    text-align: center;
    
}

@media (max-width: 400px) {
    body {
        background-attachment: cover;
    }
    img {
        height: 175px;
        width: 175px;
    }
    h1 {
        font-size: 30px;
        max-width: 350px;
        line-height: 1rem;
    }
    .intro {
        font-size: 14px;
        max-width: 250px;
    }

    .startButton {
        max-width: 10rem;
        max-height: 2rem;
        font-size: 24px;
    }
    .questionsContainer {
        font-size: 30px;
    }

    .choicesContainer {
        display: none;
        grid-template-columns: repeat(1, 0.25fr);
        grid-template-rows: repeat(4, 0.25fr);
        width: 100px;
        margin: 7%;
        padding-top: 20px;
        padding-right: 100px;

    }
    .choicesButton {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 3%;
        padding: 2%;
        width: 200px;
        font-size: 18px;
        text-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 25px rgb(98, 199, 227),
        0 0 30px rgb(98, 199, 227),
        0 0 40px rgb(98, 199, 227),
        0 0 50px rgb(98, 199, 227),
        0 0 60px rgb(98, 199, 227);
        /* margin: 0 110px 0 0;  */

    }
}